/* ***************************** MY STYLES ********************************* */
body {
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #1B1A33;
    box-shadow: 0 0 1px #1B1A33;
    -webkit-box-shadow: 0 0 1px #1B1A33;
}

.contactPage {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  color: rgb(136, 132, 132);
  font-family: 'Ubuntu', sans-serif;
}
/* 
.darkLoadOverlay {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: #000;
} */

.textArea {
  width: 45vw;
  padding: 5px;
  height: 30vh;
  border: solid rgb(70, 66, 199) 3px;
  border-radius: .25rem;
}

.textArea:hover {
  border: 3px solid rgb(116, 112, 216);
}

.leaveMeAMessage {
  color: rgb(231, 231, 231);
  font-size: 2.2em;
}

.inputArea {
  padding: 5px;
  width: 20vw;
  height: 3vh;
  border-radius: .25rem;
  background-color: rgb(231, 231, 231);
  border: 3px solid rgb(70, 66, 199);
  margin: .25%;
  font-family: 'Ubuntu', sans-serif;
}

.inputArea:hover {
  border: 3px solid rgb(116, 112, 216);
}

.buttonSpacingThree{
  height: 5vh;
  width: 20vw;
  font-size: .6em;
  color: rgb(245, 243, 243);
  background-color: rgb(70, 66, 199);
  margin-bottom: 0;
  border-radius: .25rem;
  border: none;
  margin-bottom: 5vh;
}

.buttonSpacingThree:hover {
  transform: translateY(-.25vh);
  background-color: rgb(255, 255, 255);
  color: rgb(70, 66, 199);
}

.contactPageDark {
  height: 100vh;
  width: 100vw;
  background-image: url('./mailBackground.jpg');
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

.dark_overlay {
  background-color: rgba(0, 0, 0, 0.74);
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-flow: column;
  justify-content: flex-start;
}

.myContactForm{
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  justify-content: center;
  color: rgb(245, 245, 245);
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
}

.linkStyles {
  text-decoration: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.linkStylesTwo {
  text-decoration: none;
  color: rgb(136, 132, 132);
  font-family: 'Ubuntu', sans-serif;
}

.subTitleTexts {
  color: #000;
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
}

.buttonSpacing{
  margin-top: 8%;
  background-color: rgb(136, 132, 132);
  border: solid 1px rgb(136, 132, 132);
  font-family: 'Ubuntu', sans-serif;
}

.buttonSpacingTwo{
  height: 5vh;
  width: 7vw;
  font-size: 1.2em;
  color: rgb(245, 243, 243);
  background-color: rgb(136, 132, 132);
  margin-bottom: 0;
  border-radius: .25rem;
  margin-top: 3%;
  border: none;
}

.buttonSpacingTwo:hover {
  transform: translateY(-.25vh);
  background-color: rgb(151, 151, 151);
}

/* ***************************** End Of CONTACT PAGE ********************************* */

.indexButton {
  margin-top: 2%;
  margin-bottom: 3%;
  background-color: rgb(136, 132, 132);
  border: solid 1px rgb(136, 132, 132);
  font-family: 'Ubuntu', sans-serif;
}

.darkLoadOverlay {
  background-color: #000;
  z-index: 1;
}

.fab {
  font-size: 3em;
  color: rgb(136, 132, 132);
  margin-right: 2vw;
}

.imageStyler {
  width: 70vh;
  margin: 2%;
}

.overallDiv {
  animation-name: changeToDark;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  font-family: 'Ubuntu', sans-serif;
}

.lightOverallDiv {
  animation-name: changeToWhite;
  animation-duration: .01s;
  animation-fill-mode: forwards;
  font-family: 'Ubuntu', sans-serif;
}

.fas {
  font-size: 3em;
  color: rgb(136, 132, 132);
  margin-right: 2vw;
}
.fas:hover {
  color: white;
}
.fab:hover {
  color: white;
}

.footerClass {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  padding-bottom: 1%;
  color: rgb(136, 132, 132);
  font-family: 'Ubuntu', sans-serif;
}

.subTitleTextDark {
  color: white;
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
}

.titleText {
  color: white;
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 1%;
}

.titleTextTwoDark {
  color: white;
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 1%;
}

.titleTextTwo {
  color: white;
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 1%;
}

.titleTextDark {
  color: white;
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 1%;
}

.frontEndDeveloper {
  color: rgb(136, 132, 132);
}

.headerClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./timothy-eberly-background.jpg');
  background-size: cover;
  width: 100vw;
  height: 55vh;
  margin-bottom: 3%;
  font-family: 'Ubuntu', sans-serif;
}

.favicons {
  display: flex;
}

.projectSpacing {
  display: inline-block;
}

.mainAppDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(136, 132, 132);
  font-family: 'Ubuntu', sans-serif;
}

.spaceMePlease {
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
  color: rgb(136, 132, 132);
  font-family: 'Ubuntu', sans-serif;
}

.spaceTheText {
  margin: 1%;
}

.sideText {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 55vw;
  color: rgb(136, 132, 132);
  font-family: 'Ubuntu', sans-serif;
}

.spaceMePleaseTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 5%;
  text-align: justify;
  color: rgb(136, 132, 132);
  font-family: 'Ubuntu', sans-serif;
}

.spaceMePleaseTopText {
  margin-top: 0;
  width: 40vw;
  text-align: center;
  color: rgb(136, 132, 132);
  font-family: 'Ubuntu', sans-serif;
}

#topFile {
  font-size: 1.5em;
  margin-bottom: 2%;
}

#topGithub {
  font-size: 1.5em;
  margin-bottom: 2%;
}

#topReact {
  font-size: 1.5em;
  margin-bottom: 2%;
}

#topLinkedin{
  font-size: 1.5em;
  margin-bottom: 2%;
}

#topEmail{
  font-size: 1.5em;
  margin-bottom: 2%;
}

.spaceMePleaseTopCurr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 5%;
  text-align: justify;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

.spaceMePleaseTopCurrDark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 5%;
  text-align: justify;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.headerClassSun {
  position: absolute;
  right: 2%;
  top: 5%;
}

#sun {
  font-size: 1.3em;
  color: white;
  opacity: .8;
}

.imagePicture {
  height: 40vh
}

.imagePicture:hover {
  animation-name: shadoweffect;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  font-family: 'Ubuntu', sans-serif;
}

.indexButton:hover {
  background-color: rgb(184, 98, 67);
  opacity: .8;
  font-family: 'Ubuntu', sans-serif;
}

@keyframes shadoweffect {
 100% {
   box-shadow: 10px 10px 5px rgb(117, 117, 117);
 }
}

@keyframes shadoweffectDark {
 0% {
   box-shadow: 10px 10px 5px rgb(10, 10, 10);
 }
 4% {
   box-shadow: 10px 10px 5px rgb(238, 238, 238);
 }
 100% {
   box-shadow: 10px 10px 5px rgb(14, 12, 12);
 }
}

@keyframes changeToWhite {
  0% {
    background-color: rgb(2, 1, 12);
  } 
  25% {
    background-color: rgb(53, 53, 53);
  }
  50% {
    background-color: grey;
  }
  75% {
    background-color: rgb(119, 116, 116);
  }
  100% {
    background-color: rgb(233, 235, 236);
  }
}

@keyframes changeToDark {
  0% {
    background-color: white;
  } 
  25% {
    background-color: rgb(207, 207, 207);
  }
  50% {
    background-color: grey;
  }
  75% {
    background-color: rgb(46, 46, 46);
  }
  100% {
    background-color: #1B1A33;
  }
}

.whiteBoxTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(10, 8, 34);
  opacity: .7;
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.loadingOverall {
  background-color: rgb(2, 1, 12);
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}
.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(136, 132, 132); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  color: rgb(136, 132, 132);
  animation: 
    typing 4s steps(50, end),
    blink-caret .6s step-end infinite ;
}

.nameTag{
  color: white;
  font-size: 1.2em;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { 
    border-color: transparent;
   }
  50% { border-color: white;}
}
/* The typing effect */
@keyframes typingTwo {
  0% {
    visibility: visible;
  }
  100% {
    border-color: transparent;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caretTwo {
  0% {
    visibility: visible;
  }
  100% {
    border-color: transparent;
  }
}

/* ***************************** MOBILE STYLING ********************************* */

@media only screen and (max-width: 1070px) {
  html {
    font-size: 100%;
  }

  .inputArea {
    width: 30vw;
    height: 2vh;
  }

  .textArea {
    width: 70vw;
    height: 20vh;
  }
  
  .typewriter{
    font-size: 70%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(136, 132, 132); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    color: rgb(136, 132, 132);
    animation: 
      typing 4s steps(40, end),
      blink-caret .75s step-end infinite ;
  }
  
  .nameTag{
    color: white;
    font-size: 1.2em;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { 
      border-color: transparent;
     }
    50% { border-color: white;}
  }
  
  /* The typing effect */
  @keyframes typing {
    0% {
      visibility: visible;
    }
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    0% {
      visibility: visible;
    }
    100% { border-color: orange; }
  }
  /* The typing effect */
  @keyframes typingTwo {
    0% {
      visibility: visible;
    }
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caretTwo {
    0% {
      visibility: visible;
    }
    from, to { border-color: transparent }
    100% { border-color: orange; }
  }
  /* The typing effect */
  @keyframes typingThree {
    0% {
      visibility: visible;
    }
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caretThree {
    0% {
      visibility: visible;
    }
    from, to { border-color: transparent }
    100% { border-color: orange; }
  }

  .loadingOverall {
    background-color: rgb(2, 1, 12);
    height: 100vh;
  }

  .headerClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./timothy-eberly-background.jpg');
    background-size: cover;
    width: 100vw;
    height: 40vh;
    margin-bottom: 3%;
  }

  .whiteBoxTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(10, 8, 34);
    opacity: .8;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
  }

.spaceMePleaseTopText {
  width: 80vw;
  text-align: center;
  color: white;
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 3%;
}
  
.contactPage {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  color: rgb(136, 132, 132);
}

.myContactForm{
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  justify-content: center;
  color: rgb(245, 245, 245);
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
}

.subTitleTextDark {
  color: white;
  font-size: 1.3em;
  margin-bottom: 1%;
}

.titleText {
  color: white;
  font-size: 2em;
  margin-bottom: 1%;
}

.titleTextTwoDark {
  color: white;
  margin-bottom: 1%;
  font-size: 1.3em;
}

.titleTextTwo {
  color: white;
  margin-bottom: 1%;
  font-size: 1.3em;
}

.titleTextDark {
  color: white;
  font-size: 1em;
  margin-bottom: 1%;
}

.linkStyles {
  text-decoration: none;
  color: white;
}

.linkStyles:hover {
  background-color: orangered;
}

.linkStylesTwo {
  text-decoration: none;
  color: rgb(136, 132, 132);
}

.linkStylesTwo:hover {
  background-color: orangered;
}

.buttonSpacingTwo{
  height: 5vh;
  width: 20vw;
  font-size: 1.2em;
  color: rgb(245, 243, 243);
  background-color: rgb(136, 132, 132);
  margin-bottom: 0;
  border-radius: .25rem;
  margin-top: 3%;
  border: none;
}

.buttonSpacingTwo:hover {
  transform: translateY(-.25vh);
  background-color: rgb(151, 151, 151);
}
  
  /* ***************************** End Of CONTACT PAGE ********************************* */
  
  .headerClassSun {
    position: absolute;
    right: 2%;
    top: 2%;
    color: rgb(136, 132, 132);
  }
  
  .imageStyler {
    width: 85vw;
    margin: 2%;
  }
  
  #sun {
    font-size: 1.3em;
  }
  h1 {
    font-size: 1.5em;
    text-align: center;
    color: rgb(136, 132, 132);
  }

  .subTitleTexts {
    color: #000;
    font-size: 1.3em;
    margin-bottom: 1%;
  }
  
  .fab {
    font-size: 1em;
    color: rgb(136, 132, 132);
  }
  
  .fas {
    font-size: 1em;
    color: rgb(136, 132, 132);
  }
  
  .footerClass {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 5%;
    padding-bottom: 2%;
    color: rgb(136, 132, 132);
  }
  
  .mainAppDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(136, 132, 132);
  }
  
  .spaceMePlease {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 3%;
    color: rgb(136, 132, 132);
  }
  
  .spaceTheText {
    margin: 0%;
    padding: 0%;
  }
  
  .sideText {
    color: rgb(136, 132, 132);
  }
  
  .spaceMePleaseTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 5%;
    text-align: justify;
    color: rgb(136, 132, 132);
  }

  .spaceMePleaseTopCurr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 5%;
    text-align: justify;
    margin-top: 5%;
    color: rgb(136, 132, 132);
  }
  
  #topFile {
    font-size: 1.5em;
    margin-bottom: 2%;
  }
  
  #topGithub {
    font-size: 1.5em;
    margin-bottom: 2%;
  }
  
  #topReact {
    font-size: 1.5em;
    margin-bottom: 2%;
  }
  
  #topLinkedin{
    font-size: 1.5em;
    margin-bottom: 2%;
  }
  
  #topEmail{
    font-size: 1.5em;
    margin-bottom: 2%;
  }
  
  #fa-files {
    font-size: 1em;
  }

  .overallDiv {
    animation-name: changeToDark;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }
  
  .lightOverallDiv {
    animation-name: changeToWhite;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }


  @keyframes changeToWhite {
    0% {
      background-color: rgb(10, 8, 34);
    } 
    25% {
      background-color: rgb(53, 53, 53);
    }
    50% {
      background-color: grey;
    }
    75% {
      background-color: rgb(214, 214, 214);
    }
    100% {
      background-color: rgb(233, 235, 236)
    }
  }
  
  @keyframes changeToDark {
    0% {
      background-color: rgb(233, 235, 236)
    } 
    25% {
      background-color: rgb(207, 207, 207);
    }
    50% {
      background-color: grey;
    }
    75% {
      background-color: rgb(46, 46, 46);
    }
    100% {
      background-color: rgb(10, 8, 34);
    }
  }
}

@media only screen and (max-width: 800px) {
  .titleText {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 600px) {
  .titleText {
    font-size: .9em;
  }

  .myContactForm{
    display: flex;
    align-items: left;
    flex-flow: column;
    justify-content: center;
    color: rgb(245, 245, 245);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
  }

  .inputArea {
    width: 50vw;
    padding: 5px;
  }

  .buttonSpacingThree{
    height: 5vh;
    width: 45vw;
    font-size: .6em;
    color: rgb(245, 243, 243);
    background-color: rgb(70, 66, 199);
    margin-bottom: 0;
    border-radius: .25rem;
    border: none;
    margin-bottom: 5vh;
  }
  
  .buttonSpacingThree:hover {
    transform: translateY(-.25vh);
    background-color: rgb(255, 255, 255);
    color: rgb(70, 66, 199);
  }
}


